{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container text-center">
    <h1>About our application</h1>
    <p>Tekst przedstawiający motywy powstania aplikacji...</p>
  </div>
</div>

a
<div class="container-fluid bg-3 text-center">
  <h2><b>Meet the team</b></h2><br>
  <h3><b>Project Manager</b></h3><br>
  <div class = "row">

      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="display:block;margin:auto" width="460" height="336" alt="Image">
      </br><p><b>Filip Wątorek</b></p>

   </div></br>

  <h3><b>Product Owner</b></h3><br>
  <div class="row">

      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="display:block;margin:auto" width="460" height="336" alt="Image">
      </br><p><b>Adam Szmatula</b></p>

  </div></br>


</div><div class="container-fluid bg-3 text-center">
  <h3><b>Dev Team</b></h3><br>
  <div class="row">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="display:block;margin:auto" width="460" height="336" alt="Image">
      </br><p><b>Maciej Stanuch</b></p>
  </div>
  </br></br>
  <div class="row">
    <div class="col-md-offset-0 col-sm-4">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p><b>Fidos Jacek</b></p>
    </div>
    <div class="col-sm-4">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p><b>Mól Sylwia</b></p>
    </div>
    <div class="col-sm-4">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p><b>Mycielska Marta</b></p>
    </div>

  </div>
</div><br>


<div class="container-fluid bg-3 text-center">
<h3><b>Analytics</b></h3><br>
  <div class="row">
    <div class="col-sm-3">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p><b>Adamiec Piotr</b></p>
    </div>
    <div class="col-sm-3">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p><b>Dębowska Magdalena</b></p>
    </div>
    <div class="col-sm-3">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p><b>Połdiak Julianna</b></p>
    </div>
    <div class="col-sm-3">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p><b>Pręcikowska Agnieszka</b></p>
    </div>
  </div>
</div><br><br>

<footer class="container-fluid text-center">
  <p>AGH 2017 - Wszelkie prawa zastrzeżone</p>
</footer>

{% endblock %}