<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>TweetView</h1>
    <p>What if Data Mining makes you smile.</p>
  </div>

  <div class="page-header">
    <h1>See our data</h1>
  </div>
  <p>
  
    <a href="/result" class="btn btn-success" role="button">Emoji analysis</a>
    <a href="/resultDebate" class="btn btn-primary" role="button">Presidential debate analysis</a>
  </p>


{% endblock %}

